{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ course.name }} - Course Detail</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="{% static 'courses/css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Header Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ course.name }}</h2>
                <!-- Video Player -->
                {% for video in videos %}
                    <div class="video-container">
                        <video width="30%" controls>
                            <source src="{{ video.file.url }}" type="video/mp4">
                            Your browser does not support HTML video.
                        </video>
                    </div>


                    <h5>
                        <a href="{% url 'video_detail' video.id %}" target="_blank">{{ video.name }}</a>
                    </h5>
                {% empty %}
                    <li>No videos available.</li>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
<!-- Header End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>123 Street, New York, USA</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+012 345 67890</p>
                    <p><i class="fa fa-envelope mr-2"></i>info@example.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

</body>
</html>
